{% extends "base.html" %}

{% block projectactive%}active{% endblock projectactive%}
{% block title%} Projects {% endblock title%}
{% block body%}


      <div class="container my-4 py-2">
        <h2 class="text-center">
            Me at a glance
        </h2>
        <div class="row">
            <div class="col md 4">
              <div class="card" style="width: 18rem;">
                  <img src="https://source.unsplash.com/500x300/?apple,bike" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Designer</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">My Projects</a>
                  </div>
                </div>

            </div>
            <div class="col md 4">
              <div class="card" style="width: 18rem;">
                  <img src="https://source.unsplash.com/500x300/?apple,bike" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Developer</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">My Projects</a>
                  </div>
                </div>

            </div>
            <div class="col md 4">
              <div class="card" style="width: 18rem;">
                  <img src="https://source.unsplash.com/500x300/?apple,bike" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="card-title">Entertainer</h5>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                    <a href="#" class="btn btn-primary">My Projects</a>
                  </div>
                </div>

            </div>
          
        </div>
    </div>

    {% endblock body%}